.piano { 
    display: flex;
    flex-direction: row;
    z-index: -1;
}

.piano-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    
}

.options-bar {
    position: relative;
    display: flex;
    align-items: right;
    justify-content: left;
    transform: translateZ(1px);
    transform: translateY(-76px);

}